---
import Layout from '../layouts/Layout.astro';
import { Contact } from '../components/Contact';
import { Projects } from '../components/projects/project'
---

<Layout title="Portfolio Kerny LAGUERRE">
	<main>
		<section class="me">
			<img src='/background.small.gif' class="background-me" alt="Image de fond site web"/>
			<div class="me-1">
				<header>
					<nav>
						<ul>
							<!-- <li>
								<a href="#projects">Mes réalisations</a>
							</li> -->
							<li>
								<a href="#contact">Me contacter</a>
							</li>
						</ul>
					</nav>
				</header>
				<div>
					<div>
						<img src="dev.small.png" class="img-dev" alt="Image de profil de Kerny LAGUERRE"/>
						<h1>
							Kerny LAGUERRE
							<small>Développeur Full Stack</small>
						</h1>
						<p>
							Développeur d'applications web responsive contribuant au développement digital de votre entreprise.
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="projects">
			<div class="row">
				<div class="projects-list">
					<h2 class="title-section">
						Mes réalisations
					</h2>
					<span class="hr"></span>
					<div class="row-projects">
						<Projects client:load/>
					</div>
				</div>
				<div class="languages">
					<h2 class="title-section">
						Solutions et technologies utilisées
					</h2>
					<span class="hr"></span>
					<div class="row-languages">
						<a href="" class="col">
							<img src="/technologies/angular-svgrepo-com.svg" alt="logo php">
						</a>
						<a href="" class="col">
							<img src="/technologies/typescript-svgrepo-com.png" alt="logo Typescript" />
						</a>
						<a href="" class="col">
							<img src="/technologies/dbs-mysql-svgrepo-com.svg" alt="logo mysql">
						</a>
						<a href="" class="col">
							<img src="/technologies/git-svgrepo-com.svg" alt="logo vultr">
						</a>
						<a href="" class="col">
							<img src="/technologies/reactjs-svgrepo-com.png" alt="logo reactJs">
						</a>
						<a href="" class="col">
							<img src="/technologies/symfony-svgrepo-com.png" alt="logo symfony">
						</a>
						<a href="" class="col">
							<img src="/technologies/mongodb-logo-svgrepo-com.png" alt="logo MongoDB">
						</a>
						<a href="" class="col">
							<img src="/technologies/cloudflare-svgrepo.png " alt="logo cloudflare">
						</a>
						<a href="" class="col">
							<img src="/technologies/linux-svgrepo-com.svg" alt="logo nodejs">
						</a>
					</div>
				</div>
			</div>
		</section>
		<section id="contact" class="contact">
			<div>
				<h2 class="title-section">Mes réseaux professionels</h2>
				<span class="hr"></span>
				<a href=""><img src="/socials/github-svgrepo-com-1.svg" alt="réseaux social Linkedin" /></a>
				<a href=""><img src="/socials/linkedin-svgrepo-com.svg" alt="réseaux social Github" /></a>
				<!-- Composant React formulaire de contact -->
				<p>
					Vous souhaitez développer une application web pour votre entreprise ou pour vous même. Saissisez votre adresse électronique pour rentrez en contact avec moi !
				</p>
				<Contact client:visible />
			</div>
		</section>
	</main>
</Layout>

<style>
	main {
		margin: 0 auto;
		padding: 1.5rem;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
