---
import Layout from '../layouts/Layout.astro';
import { Contact } from '../components/Contact';
import { Projects } from '../components/projects/project';
const assetsUrl = 'https://assets.rody.network/rody.bio/'
---

<Layout title="Portfolio - Kerny LAGUERRE">
	<header>
		<div class="me">
			<img src={assetsUrl + 'background.small.gif'} class="background-me" alt="fond animé développeur site web"/>
			<div class="me-1">
				<div class="menu">
					<nav>
						<ul>
							<li>
								<a href="#contact">Me contacter</a>
							</li> 
						</ul>
					</nav>
				</div>
				<div>
					<div>
						<img src={assetsUrl + 'dev.small.png'} class="img-dev" alt="profil de Kerny LAGUERRE"/>
						<h1>
							Kerny LAGUERRE
							<small>Développeur Full Stack Junior</small>
						</h1>
						<p>
							Développeur d'applications web responsive contribuant au développement numérique de votre entreprise.
						</p>
					</div>
				</div>
			</div>
		</div>
	</header>
	<main>
		<div class="projects">
			<div class="row">
				<div class="projects-list">
					<h2 class="title-section">
						Mes réalisations
					</h2>
					<span class="hr"></span>
					<div class="row-projects">
						<Projects client:idle />
					</div>
				</div>
				<div class="languages">
					<h2 class="title-section">
						Solutions et technologies utilisées
					</h2>
					<span class="hr"></span>
					<div class="row-languages">
						<a href="https://angular.io/" target="_blank" class="col">
							<img src={assetsUrl + '/technologies/angular-svgrepo-com.svg'} alt="logo Angular">
						</a>
						<a href="https://www.typescriptlang.org/" target="_blank" class="col">
							<img src={assetsUrl + '/technologies/typescript-svgrepo-com.png'} alt="logo Typescript" />
						</a>
						<a href="https://www.mysql.com/" target="_blank" class="col">
							<img src={assetsUrl + '/technologies/dbs-mysql-svgrepo-com.svg'} alt="logo Mysql">
						</a>
						<a href="https://git-scm.com/" target="_blank" class="col">
							<img src={assetsUrl + '/technologies/git-svgrepo-com.svg'} alt="logo Git">
						</a>
						<a href="https://symfony.com/" target="_blank" class="col">
							<img src={assetsUrl + '/technologies/symfony-svgrepo-com.png'} alt="logo Symfony">
						</a>
						<a href="https://www.cloudflare.com/" target="_blank" class="col">
							<img src={assetsUrl + '/technologies/cloudflare-svgrepo.png'} alt="logo Cloudflare">
						</a>
						<a href="https://nodejs.org/" target="_blank" class="col">
							<img src={assetsUrl + '/technologies/nodejs-svgrepo-com.svg'} alt="logo NodeJS">
						</a>
						<a href="https://react.dev/" target="_blank" class="col">
							<img src={assetsUrl + '/technologies/reactjs-svgrepo-com.svg'} alt="logo ReactJS">
						</a>
						<a href="https://cloud.google.com/" target="_blank" class="col">
							<img src={assetsUrl + '/technologies/gcp-svgrepo-com.svg'} alt="logo Google Cloud">
						</a>
						<a href="https://www.docker.com/" target="_blank" class="col">
							<img src={assetsUrl + '/technologies/docker-logo-svgrepo-com.svg'} alt="logo Docker">
						</a>
						<a href="https://www.vultr.com/" target="_blank" class="col">
							<img src={assetsUrl + '/technologies/vultr-svgrepo-com.png'} alt="logo Vultr">
						</a>
						<a href="https://www.redhat.com/en/topics/linux/what-is-linux" target="_blank" class="col">
							<img src={assetsUrl + '/technologies/linux-svgrepo-com.svg'} alt="logo Linux">
						</a>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer id="contact" class="contact">
		<div>
			<h2 class="title-section">Mes réseaux professionels</h2>
			<span class="hr"></span>
			<a href=""><img src={assetsUrl + '/socials/github-svgrepo-com-1.svg'} alt="réseaux social Linkedin" /></a>
			<a href=""><img src={assetsUrl + '/socials/linkedin-svgrepo-com.svg'} alt="réseaux social Github" /></a>
			<!-- Composant React formulaire de contact -->
			<p>
				Vous souhaitez développer une application web pour votre entreprise ou pour vous même. Saissisez votre adresse électronique pour rentrez en contact avec moi !
			</p>
			<Contact client:idle />
		</div>
	</footer>
</Layout>

<style>
	main {
		margin: 0 auto;
		padding: 1.5rem;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
