.form-contact > div {
    display: flex;
    align-items: stretch;
    margin: 2em 0;
    background: #FFF;
    border-radius: .4em;
    overflow: hidden;
}

.form-contact > div > input {
    flex: 0 0 70%;
    padding: 0 2%;
    border: none;
    font-weight: 500;
}

.form-contact > div > button {
    flex: 0 0 30%;
    color: #FFF;
    border: none;
    font-weight: 400;
    padding: 1em;
    background: #000;
    cursor: pointer;
    transition: .3s;
}
.form-contact > div > button:hover {
    opacity: .8;
}